$brand-primary: #3f51b5;

$twitch-color: #6441BD;
$twitch-chat-background: #f2f2f2;

$font-size-base: 16px !default;

$navbar-height: 70px !default;
$navbar-default-bg: #ffffff;
$navbar-default-link-color: $brand-primary;
$navbar-default-border: #e7e7e7;

@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.navbar-brand {
    font-size: 32px;
}

.logo {
    font-weight: 300;
    color: #333;
}

.logo .blue {
    font-weight: 600;
    color: $brand-primary;
}

.alert {
    margin-bottom: 0;
}

.center-block {
    float: none;
    margin: 0 auto;
}

.form-horizontal .form-group {
    margin-left: 15px;
    margin-right: 15px;
}

.no-overflow {
    overflow-y: hidden;
}

.streams {
    margin-top: 20px;
}

.streams a:hover {
    text-decoration: none;
}

.streams a:hover .stream-title {
    color: $brand-primary;
}

.streams .btn-default, .streams .btn-default:focus {
    color: $brand-primary;
    background-color: #ffffff;
    font-size: 14px;
    border-color: #ffffff;
    outline: none;
}

.streams .btn-default:hover, .streams .btn-default:focus {
    border-color: $brand-primary;
}

.stream-title {
    font-size: 1.2em;
    height: 1.2em;
    margin-top: 8px;
    margin-bottom: 5px;
    color: #32323e;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.stream-description {
    color: #8c8c8c;
    margin-bottom: 10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

footer {
    margin-top: 42px;
    border-top: 1px solid #e7e7e7;
    padding-top: 25px;
    padding-bottom: 40px;
}

footer h2 {
    font-size: 32px;
}

footer h2 small {
    font-size: 14px;
}

// Stream iframe with the button

iframe {
    min-height: 100vh;
    min-width: 100%;
    bottom: 0;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

.row.no-padding {
  margin-right:0;
  margin-left:0;
}

.row.no-padding > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.stream-button, .btn-on-stream {
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    outline: none;
}

.stream-button {
    background-color: $twitch-chat-background;
    color: $twitch-color;
}

.stream-button:hover, .stream-button:focus {
    color: #000000;
    background-color: $twitch-chat-background;
    outline: none
}

.btn-on-stream, .btn-on-stream:active, .btn-on-stream:focus {
    color: transparent;
    background-color: transparent;
    outline: none;
    height: 60px;
    width: 60px;
}

.btn-on-stream:hover {
    color: $twitch-color;
    background-color: #f2f2f2;
    border-color: #666666;
}
